<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/Plugins/TestPlugin/TestPlugin/List" rel="nofollow">
    <i class="fa fa-fw fa-search"></i>
    <span>Generic Attributes</span>
</a>

@*<li class="nav-item">
    <a class="nav-link" href="/Plugins/TestPlugin/TestPlugin/GetAttributesList" rel="nofollow">
        <span class="tab-caption">
            Generic Attributes
        </span>
        </a>
</li>*@